<footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h2 class="text-with-border">Participantes</h2>
        <ul>
            <li class="text-with-border2" *ngFor="let item of Participantes">{{ item }}</li>

        </ul>
      </div>
      <div class="footer-section links">
        <h2 class="text-with-border">Enlaces</h2>
        <ul>
          <li class="text-with-border2"><a href="#">PICALE</a></li>
          
        </ul>
      </div>
      <div class="footer-section contact">
        <h2 class="text-with-border">Contacto</h2>
        <p >
          <i class="fas fa-envelope"></i> 
        </p>
        <p class="text-with-border2">
          <i class="fas fa-phone"></i> +52 614 164 4125
        </p>
      </div>
    </div>
    <div class="footer-bottom">
     <h2 class="text-with-border2">
     &copy; 2024 IIDT / Diseñado por IIDT
     </h2>
    </div>
  </footer>