<footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h2>Sobre Nosotros</h2>
        <ul>
            <li *ngFor="let item of Participantes">{{ item }}</li>

        </ul>
      </div>
      <div class="footer-section links">
        <h2>Enlaces</h2>
        <ul>
          <li><a href="#">PICALE</a></li>
          
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contacto</h2>
        <p>
          <i class="fas fa-envelope"></i> 
        </p>
        <p>
          <i class="fas fa-phone"></i> +52 614 164 4125
        </p>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 IIDT / Diseñado por IIDT
    </div>
  </footer>