/* erick */

.container {
  position: relative;
}

.background{
  width: 500px; 
  height: 850px; 
 
}

.background2{
 
  width: 1600px; 
  height: 900px; 
 
}

.sub-section{
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  display: grid;
  justify-content: center;
  align-items: center;
  

}


.overlay {
  position: absolute;
  top: 4%; 
  left: 20%; 
  transform: translate(-50%, -50%); 
  width: 500px; 
  height: 200px; 
  z-index: 1; 
}

.menu {   
  
}
.contenido-derecha {
  font-family: 'p5hatty';
  font-size: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 65%;
  width: 5%; 
  height: 100%; 
  
  
 
}

/*MI parte*/

.sumas {
  display: flex;
/*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  height: 100vh; 
 /* Ocupa toda la altura de la pantalla */
  text-align: center;
}
/*Precios*/
nav{
  position: absolute;
  display: flex;

    justify-content: center;
    margin-top: 20%;
    padding: 10px;
   width: 100%;
    
    
    
}
.menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
 
    /* Ajusta el ancho máximo según sea necesario */
   
  
    
    height: min-content;
    
}

.menu li span {
  margin-right: 5px; /* Ajusta el margen entre el texto y el campo de entrada */
}
li{

  padding: 5px -5px;
}
li:hover{
  background-color:black;
  color:aliceblue;
  
}
input[id='v2']{
  font-size: 20px;
  background-color: black;
  color: aliceblue;
  border-radius: 30px;
  margin-left: 195px;
  text-align: end;
}
input[id='v3']{
  font-size: 20px;
  background-color: black;
  color: aliceblue;
  border-radius: 30px;
  margin-left: 127px;
  text-align: end;
}
input[id='v1']{
  font-size: 20px;
  background-color: black;
  color: aliceblue;
  border-radius: 30px;
  margin-left: 235px;
  text-align: end;
}

input[id='v4']{
  font-size: 20px;
  background-color: black;
  color: aliceblue;
  border-radius: 30px;
  margin-left: 200px;
  text-align: end;
}

input[id='v5']{
  font-size: 20px;
  background-color: black;
  color: aliceblue;
  border-radius: 30px;
  margin-left: 200px;
  text-align: end;
}

input[id='valor1']{
  font-size: 30px;
  background-color: black;
  color: aliceblue;
  border-radius: 30px;
  margin-left: 50px;
  text-align: end;
}

input:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

/*Donde esta el total*/
.input-section {
  position: absolute;
  height: 80px;
  margin-top: 75%;
  margin-left: 10%;
  
  color: #FEFFEB;
 /* Agrega margen superior para separar del menú */
}

.Total{
  margin-left: 40px;
  color: rgb(0, 0, 0);
}
/*CANTIDAD DISENO*/
.tituC {
  position: absolute;
  top: 30%;
  left: 45%;
  
  height: 30px;
  width: 130px;
  
  justify-content: center;
  background-color: #671f00;
  border: 2px solid #671f00;
  border-radius: 70px;
  justify-content: center;
}

h1 {
  
  
  position: center;
  top: 0%;
  left: 50%;
  height: 80px;
  width: 170px;
  color: #ffffff;
  -webkit-text-stroke: 0.03em  #671f00;
  font-size: 1.5em; /* Ajusta el tamaño del texto */
  margin: 0; /* Elimina márgenes para centrar mejor */
}

.sub-sectionMenu{
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
  
  
}

.Pedido {
  font-family: 'p5hatty';
  font-size: 1.5em;
  
  top: 98%;
  left: 50%;
  justify-content: center;
  position: absolute;

}
